<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Real Estate Agency</title>
    <link type="text/css" rel="stylesheet" href="/style/styles.css">
</head>
<body>
<section>
    <div id="roof">
    </div>
    <div id="building"></div>
    <div id="offerManager">
        <div id="regOffer">
            <form th:method="post" th:action="@{/find}">
                <h2>Find offer</h2>
                <input type="number" name="familyBudget" placeholder="Family budget....">
                <input type="text" name="apartmentType" placeholder="Apartment type...">
                <input type="text" name="familyName" placeholder="Family name...">
                <button name="findOffer" class="button">Find offer</button>
            </form>
        </div>
    </div>
</section>
</body>
</html>