<head>
    <title>Home</title>
</head>
<div class="mt-3" xmlns:th="http://www.thymeleaf.org" lang="en">
    <hr class="bg-exodia hr-2"/>
    <div class="print-container container-fluid">

        <div class="row mb-4 d-flex justify-content-between">

            <div th:remove="tag" th:each="document,iter : ${documents}">

                <div th:if="${iter.index} % 5 == 0" th:remove="tag" th:utext="'</div>'"></div>
                <div th:if="${iter.index} % 5 == 0" th:remove="tag"
                     th:utext="'<div class=&quot;row mb-4 d-flex justify-content-between&quot;>'"></div>

                <div class="print-scheduled col-md-2 bg-exodia rounded">
                    <h5 class="text-center text-white font-weight-bold py-3 mt-3" th:text="${document.title}"></h5>
                    <hr class="bg-white">
                    <div class="buttons-holder w-75 mx-auto d-flex justify-content-between">
                        <a class="btn bg-exodia text-white font-weight-bold mb-3" th:text="'Print'"
                                th:href="@{/print(id=${document.id})}"></a>
                        <a class="btn bg-exodia text-white font-weight-bold mb-3" th:text="'Details'"
                           th:href="@{/details(id=${document.id})}"></a>
                    </div>
                </div>
            </div>
            <div th:each="i : ${neededBoxes}"
                 class="print-scheduled col-md-2 bg-white rounded"></div>
        </div>
    </div>

</div>
<hr class="bg-exodia hr-2 mt-5"/>
</div>
